{% extends 'base.html' %}
{% block content %}
<div>
    {% if book_list %}
        {% for book in book_list %}
        <div class="album py-5 bg-light">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img src="{{ url_for('static', filename=book.img_path) }}" alt="책이미지">
                                <div class="card-body">
                                <p></p>
                                <a href="/books/{{ book.id }}" class="block mt-2">{{ book.book_name }}</a>
                                <p class="card-text">평점: {{ book.score }}</p>
                                <p class="card-text">수량: {{ book.stack }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" href="{{ book.link }}">구매하기</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% endfor %}
</div>
    {% else %}
        <p>책이 없어요</p>
    {% endif %}
    
    {% if session['user_email'] %}
    <p>안녕하세요, {{ session['name'] }}님!</p>
    {% else %}
    <p>로그인 되지 않았습니다.</p>
    {% endif %}
{% endblock %}